/*HEADER*/
header {
  grid-area: header;
  background-image: url(../Imagenes/banner2.jpg);
  background-size: cover;
  background-repeat: no-repeat; }
  header .nav-link {
    color: #e0dede !important; }
  header .nav-link:hover {
    color: #7a7878 !important; }
  header .lista__item {
    list-style-type: none; }
  header .lista__subitem {
    font-family: 'Domine';
    text-decoration: none;
    font-size: 16px; }
  header .navbar {
    margin-top: 20px;
    background-color: #000;
    border-top: 0.1px solid #4d4b4b; }

/*BODY*/
body {
  margin: 0;
  background-color: white;
  height: 100%;
  width: 100%;
  font-size: 16px;
  overflow-x: hidden;
  /*SECTION*/
  /*FOOTER*/
  /* MEDIA-QUERIES */ }
  body section {
    text-align: center;
    width: 100%;
    height: 100%; }
  body h1 {
    font-family: 'Playfair Display';
    font-size: 40px;
    color: black; }
  body p {
    text-align: justify; }
  body td {
    border: 1px solid black; }
  body form {
    border: 2px black solid;
    background-color: #eae9e9;
    border-radius: 2%;
    padding: 10px;
    text-align: justify; }
    body form label {
      color: black;
      text-align: start;
      font-size: 18px;
      font-style: italic; }
  body a {
    text-decoration: none; }
  body .logo img {
    overflow: hidden; }
  body .sponsorContainer strong {
    color: #e20f34; }
  body .row {
    margin-right: -15px;
    margin-left: -15px;
    height: 300px; }
  body .cienH {
    display: flex;
    justify-content: center; }
  body .titpubli {
    margin-top: 4rem;
    text-align: center; }
  body .logopubli .titpubli {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  body .logopubli {
    width: 300px;
    height: 50px;
    padding-top: 60px; }
  body .logopubli img {
    height: 37px; }
  body .logoSponsorsOficialesContainer {
    padding-top: 20px;
    width: 300px;
    height: 50px; }
  body .logoSponsorsOficialesContainer img {
    height: 37px; }
  body .sponsors {
    margin-top: 50px;
    margin-bottom: -40px;
    height: auto; }
  body .txtblanco h4 {
    color: #fff;
    text-align: center;
    font-weight: 400;
    font-size: 1.5rem; }
  body .bgrojo {
    background-color: #ed1c24 !important; }
  body .bgnegro {
    background-color: #161515; }
  body .bggris {
    background-color: #dddcdc; }
  body .formContacto {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px; }
    body .formContacto__mapa {
      border-radius: 5%;
      height: 465px;
      width: 400px;
      margin-left: 8px; }
  body .textoFlex {
    display: inline-flex;
    justify-content: space-evenly;
    margin-top: 5%; }
  body .carousel-inner img {
    height: 800px;
    width: 1900px; }
  body #carouselExampleControls {
    width: 80%;
    margin-left: 10%;
    margin-top: 5%; }
  body .contenido__titulo {
    text-align: center;
    font-family: 'Playfair Display';
    font-weight: 600;
    padding-top: 30px;
    color: black; }
  body .contenido__subtitulo {
    font-family: 'Playfair Display';
    font-size: 27px;
    color: black;
    text-align: center;
    text-decoration: underline;
    margin-top: 3%;
    font-weight: 400; }
  body .contenido__texto {
    font-size: 26px;
    font-family: 'Source Serif Pro';
    line-height: 1.3;
    width: 42%;
    color: gray; }
  body .contenido__textoDos {
    font-size: 26px;
    font-family: 'Source Serif Pro';
    line-height: 1.2;
    color: gray;
    width: 45%; }
  body .boton {
    width: 100%;
    text-align: end;
    margin-top: 7px; }
  body .indumFlex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 35px;
    gap: 0.625rem; }
  body .imgDif img {
    height: 22rem; }
  body .bloque, body .newells {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    body .bloque__titulo {
      text-align: center;
      font-family: 'Times New Roman', Times, serif;
      font-weight: 600;
      padding-top: 30px; }
    body .bloque__img {
      height: 427px;
      width: 640px;
      margin-right: 1px;
      padding: 2px;
      border-radius: 1%; }
    body .bloque__video {
      margin-top: 10px;
      border-radius: 5%; }
  body .grilla {
    display: grid;
    grid-template-columns: 25% 50% 30%;
    grid-template-rows: 33.8vh 14vh auto 10vh;
    grid-template-areas: "header header header" "titulo titulo titulo" "tabla tabla tabla"                      "footer footer footer"; }
    body .grilla .tituloLogros {
      font-weight: 600;
      grid-area: titulo;
      grid-column-start: 2;
      margin-left: 230px;
      padding-top: 40px; }
    body .grilla .trofeos .card {
      width: 10rem !important;
      align-items: center;
      margin-top: 5px;
      border: none; }
    body .grilla .tablaInfo .card img {
      height: 150px;
      width: 83.5px; }
    body .grilla .tablaInfo .trofeoDif img {
      height: 150px;
      width: 105px; }
    body .grilla .tablaInfo {
      grid-area: tabla;
      grid-column-start: 1;
      margin-top: 30px; }
      body .grilla .tablaInfo .trofeos {
        display: flex;
        justify-content: center;
        padding: 10px;
        gap: 20px; }
        body .grilla .tablaInfo .trofeos .text-modif {
          padding-bottom: 0;
          padding-top: 22px; }
          body .grilla .tablaInfo .trofeos .text-modif .card-text {
            text-align: center; }
        body .grilla .tablaInfo .trofeos .trofeoDif {
          margin-top: 10px; }
        body .grilla .tablaInfo .trofeos .text-modf {
          padding-left: 0;
          padding-right: 0;
          padding-bottom: 0;
          padding-top: 27px; }
          body .grilla .tablaInfo .trofeos .text-modf--modificador {
            padding-top: 22px; }
          body .grilla .tablaInfo .trofeos .text-modf .card-text {
            text-align: center; }
  body .newells {
    padding-top: 10px; }
    body .newells__img {
      width: 85%;
      padding: 5px; }
  body .footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
    body .footer__texto {
      color: white;
      font-size: 17px; }
    body .footer__item {
      font-size: 25px;
      color: white; }
    body .footer i {
      padding: 10px; }
    body .footer i:hover {
      color: #b1b1ae; }
    body .footer__texto:hover {
      color: #b1b1ae; }
  body footer {
    grid-area: footer;
    background-color: black;
    margin-top: 40px;
    height: auto;
    padding-top: 18px; }
    body footer .footerGeneral {
      color: white;
      text-align: center;
      font-size: 17px; }
    body footer .footDos {
      margin-top: 5px; }
  @media only screen and (max-width: 600px) {
    body .logo {
      display: flex;
      justify-content: flex-end;
      padding: 1%;
      height: 8.75rem; }
    body .formContacto__mapa {
      margin-left: 0; }
    body .grilla {
      grid-template-columns: 25% 35% 40%;
      grid-template-rows: auto 10vh auto auto; }
      body .grilla .tituloLogros {
        text-align: center;
        padding-top: 25px;
        grid-column-start: 1;
        margin-left: 0; }
      body .grilla .trofeos {
        flex-direction: column;
        align-items: center; }
      body .grilla .tablaInfo {
        grid-column-start: 1; }
    body .textoFlex {
      display: block; }
    body .bloque__img {
      width: 100%;
      height: auto; }
    body .bloque__video {
      max-width: 100%;
      height: 200px;
      border-radius: 0; }
    body .contenido__texto {
      font-size: 20px;
      width: 80%;
      color: gray;
      margin-left: 10%; }
    body .contenido__textoDos {
      font-size: 20px;
      width: 80%;
      margin-left: 10%; }
    body .contenido__titulo {
      text-align: center;
      font-size: 40px; }
    body .footer {
      text-align: center; }
    body .formContacto {
      display: block;
      width: 90%;
      margin-left: 23px; }
      body .formContacto__mapa {
        margin-top: 10px;
        width: 100%; }
      body .formContacto label {
        font-size: 17px; }
    body .contenido__subtitulo {
      font-style: italic;
      text-align: center;
      font-size: 30px; }
    body header {
      background-size: 100% 10rem; }
    body .carousel-inner img {
      height: 300px;
      width: 1900px; }
    body .sponsors {
      height: 900px; } }
  @media only screen and (min-width: 600px) {
    body .grilla {
      grid-template-columns: 25% 35% 40%;
      grid-template-rows: auto 10vh auto auto; }
      body .grilla .tituloLogros {
        text-align: center;
        padding-top: 25px;
        grid-column-start: 1;
        margin-left: 0; }
    body .navbar-nav {
      justify-content: space-around;
      width: 100%; }
    body .contenido__subtitulo {
      font-family: 'Times New Roman', Times, serif;
      font-size: 25px;
      font-weight: 400; }
    body .contenido__titulo {
      text-align: center;
      font-size: 40px; }
    body .carousel-inner img {
      height: 500px;
      width: 1900px; }
    body .logo {
      display: flex;
      justify-content: flex-end;
      padding: 1%;
      margin-right: 2%;
      height: 200px; }
    body header {
      background-size: 110vw 31vh; }
    body .sponsors {
      height: 900px; } }
  @media only screen and (max-width: 480px) {
    body .card img {
      height: 15rem; }
    body .trofeoDif img {
      height: 9.375rem;
      width: 5.218rem; }
    body .trofeoDif img {
      height: 9.375rem;
      width: 6.5625rem; } }
  @media only screen and (min-width: 768px) {
    body .grilla {
      grid-template-rows: auto 14vh auto auto; }
      body .grilla .tituloLogros {
        grid-column-start: 1;
        text-align: center;
        margin-left: 0; }
    body .contenido__titulo {
      font-size: 45px; }
    body .contenido__subtitulo {
      font-size: 30px; }
    body .sponsors {
      height: auto; } }
  @media only screen and (min-width: 1000px) {
    body .grilla {
      grid-template-columns: 25% 45% 30%;
      grid-template-rows: auto auto auto auto; }
      body .grilla .tituloLogros {
        margin-top: 70px;
        font-size: 55px; }
    body .contenido__titulo {
      font-size: 46px; }
    body .contenido__subtitulo {
      font-size: 30px; } }
  @media only screen and (max-width: 1200px) {
    body li {
      font-size: 20px; } }
  @media only screen and (min-width: 1200px) {
    body .grilla {
      grid-template-columns: 25% 45% 30%;
      grid-template-rows: auto auto auto auto; }
      body .grilla .tituloLogros {
        margin-top: 10px;
        font-size: 55px; }
    body .imagenes h1 {
      margin-bottom: 40px; }
    body .tituloContacto h1 {
      font-size: 40px; }
    body .contenido__texto {
      font-size: 26px;
      font-family: 'Source Serif Pro';
      line-height: 1.3;
      color: gray;
      margin-right: 20px;
      width: 42%; }
    body .camRosa img {
      height: 350px; }
    body .footerGeneral {
      text-align: center; }
    body .contenido__titulo {
      font-size: 55px; }
    body .logo {
      display: flex;
      justify-content: flex-end;
      padding: 0.4%; }
    body .contenido__subtitulo {
      font-size: 35px;
      text-align: center; }
    body header {
      background-size: cover;
      background-repeat: no-repeat; }
    body .carousel-inner img {
      height: 768px;
      width: 1900px; } }
