
@import "variables";



/*HEADER*/
header{
    grid-area: header;
    background-image: url(../Imagenes/banner2.jpg);
    background-size: cover;
    background-repeat: no-repeat;

        .nav-link{
            color: rgb(224, 222, 222) !important;
        }

        .nav-link:hover{
            color: rgb(122, 120, 120) !important;
        }
        
        .lista{

            &__item{
                list-style-type: none;
                
            }
            
            &__subitem{
                font-family: 'Domine';
                text-decoration: none;
                font-size: 16px;
            }
        }

        .navbar{
            margin-top: 20px;
            background-color: #000;
            border-top: 0.1px solid rgb(77, 75, 75);
        }
    
}

/*BODY*/
body{
    margin: 0;
    background-color: rgb(255, 255, 255);
    height: 100%;
    width: 100%;
    overflow-x: hidden;

    /*SECTION*/

    section{
        text-align: center;
        width: 100%;
        height: 100%;
    }
    
    @mixin estiloTitulos($colorLetra, $tamaño){
        font-family: 'Playfair Display'; 
        font-size: $tamaño;
        color: $colorLetra;     
    }


    h1{
        @include estiloTitulos($color-h1, $font-size);
    }
        
    p{
        text-align: justify;
    }

    td{
        border: 1px solid rgb(0, 0, 0);
    }
    
    form{
        border: 2px black solid;
        background-color: #eae9e9;
        border-radius: 2%;
        padding: 10px;
        text-align: justify;

        label{
            color: rgb(0, 0, 0);
            text-align: start;
            font-size: 18px;
            font-style: $font-italic;
        }  
    }

    a{
        text-decoration: none;
    }

    .logo img{
        overflow: hidden;
    }

    .sponsorContainer strong{
        color: #e20f34;
    }
    
    .row{
        margin-right: -15px;
        margin-left: -15px;
        height: 300px;
    }

    .cienH {
        display: flex;
        justify-content: center;
    }

    .titpubli{
        margin-top: 4rem;
        text-align: center;
    }

    .logopubli .titpubli{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

    .logopubli{
        width: 300px;
        height: 50px;
        padding-top: 60px;
    }

    .logopubli img{
        height: 37px;
    }

    .logoSponsorsOficialesContainer{
        padding-top: 20px;
        width: 300px;
        height: 50px;
    }

    .logoSponsorsOficialesContainer img{
        height: 37px;
    }

    .sponsors{
        margin-top: 50px;
        margin-bottom: -40px;
        height: auto;
    }

    .txtblanco h4{
        color: #fff;
        text-align: center;
        font-weight: 400;
        font-size: 1.5rem;
    }

    

    .bgrojo{
        background-color: #ed1c24 !important;
    }

    .bgnegro{
        background-color: rgb(22, 21, 21);
    }

    .bggris{
        background-color: rgb(221, 220, 220);
    }

    .formContacto{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 40px;
        &__mapa{
            border-radius: 5%;
            height: 465px;
            width: 400px;
        }
    }

    .textoFlex{
        display: inline-flex;
        justify-content: space-evenly;
        margin-top: 5%;
    }

    .carousel-inner img{
        height: 800px;
        width: 1900px;
    }

    #carouselExampleControls{
        width: 80%;
        margin-left: 10%;
        margin-top: 5%;
    }

    .contenido{
            
        &__titulo{
            text-align: center;
            font-family: 'Playfair Display';
            font-weight: 600;
            padding-top: 30px;
            color: black;
        }

        &__subtitulo{
            @include estiloTitulos($color-h1,27px);
            text-align: center;
            text-decoration: underline;
            margin-top: 3%;
            font-weight: 400;
        }

        &__texto{
            font-size: 26px;
            font-family: 'Source Serif Pro';
            line-height: 1.3;
            width: 42%;
            color: gray;
        }

        &__textoDos{
            font-size: 26px;
            font-family: 'Source Serif Pro';
            line-height: 1.2;
            color: gray;
            width: 45%;
        }
        
    }

        

    .boton{
        width: 100%;
        text-align: end;
        margin-top: 7px;
        
    }

    .indumFlex{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-top: 35px;
        gap: 10px;
    }

    .imgDif img{
        height: 372px;
    }

    .bloque{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        &__titulo{
            text-align: center;
            font-family: 'Times New Roman', Times, serif;
            font-weight: 600;
            padding-top: 30px;
        }
        
        &__img{
            height: 427px;
            width: 640px;
            margin-right: 1px;
            padding: 2px;
            border-radius: 1%;
                
        }

        &__video{
            margin-top: 10px;
            border-radius: 5% ;
        }
    }
        
    .grilla{
        display: grid;
        grid-template-columns: 25% 45% 30%;
        grid-template-rows: 33.8vh 14vh 42.2vh 10vh;
        grid-template-areas: 
                            "header header header"
                            "titulo titulo titulo"
                            "tabla tabla tabla"                     
                            "footer footer footer";
    
        .tituloLogros{
            font-weight: 600;
            grid-area: titulo;
            grid-column-start: 2;
            margin-left: 230px;
            padding-top: 40px;
        }

        .tablaInfo{
            grid-area: tabla;
            align-items: center;
            grid-column-start: 2;
        }

        .tabla{
            
            &__head{
                color: rgb(7, 7, 7);
                text-decoration: underline;
                font-style: $font-italic;
            }

            &__datos{
                color: rgb(253, 49, 49);
            }
        }
    }
    
    .newells{
        @extend .bloque;
        padding-top: 10px;

        &__img{
            width: 85%;
            padding: 5px;
        }

    }


    /*FOOTER*/

    .footer{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;


        &__texto{
            color: white;
            font-size: 17px;
        }

        &__item{
            font-size: 25px;
            color: rgb(255, 255, 255);
        }
    
        i{
            padding: 10px;
        }

        i:hover{
            color: rgb(177, 177, 174);
        }

        &__texto:hover{
            color: rgb(177, 177, 174);
        }
    }   


    footer{
        grid-area: footer;
        background-color: black;
        margin-top: 40px;
        height: auto;
        padding-top: 18px;

        .footerGeneral{
            color: rgb(255, 255, 255);
            text-align: center;
            font-size: 17px;    
        }

        .footDos{
            margin-top: 5px;
        }
    }

/* MEDIA-QUERIES */

    @media only screen and (max-width: 600px){
    
    .logo{
        display: flex;
        justify-content: flex-end;
        padding: 1%;
        height: 140px;
    }


    .grilla{
        grid-template-columns: 50% 50%;
        grid-template-rows: auto 10vh auto auto;

        .tituloLogros{
            text-align: center;
            padding-top: 25px;
            grid-column-start: 1;
            margin-left: 0;
        }

        .tablaInfo{
            grid-column-start: 1;
            width: 97%;
            margin-left: 1%;
        }
    }

    .textoFlex{
        display: block;
    }

    .bloque{
        &__img{
            width: 100%;
            height: auto;
        }

        &__video{
            width: 90%;
        }
    }
    
    .contenido__texto{
        font-size: 20px;
        width: 80%;
        color: gray;
        margin-left: 10%;
    }

    .contenido__textoDos{
        font-size: 20px;
        width: 80%;
        margin-left: 10%;
    }

    .contenido__titulo{
        text-align: center;
        font-size: 50px;
    }

    .footer{
        text-align: center;
    }

    .formContacto{
        display: block;
        width: 90%;
        margin-left: 23px;

        &__mapa{
            margin-top: 10px;
            width: 100%;
        }

        label{
            font-size: 17px;
        }
    }

    .contenido__subtitulo{
        font-style: italic;
        text-align: center;
        font-size: 30px;
    }

    header{
        background-size: 100% 160px;
    }

    .carousel-inner img{
        height: 300px;
        width: 1900px;
    }

    .sponsors{
        height: 900px;
    }

    }
 
    @media only screen and (min-width:600px){
    
    .grilla{
        grid-template-columns: 50% 50%;
        grid-template-rows: auto 10vh auto auto;

        .tituloLogros{
            text-align: center;
            padding-top: 25px;
            grid-column-start: 1;
            margin-left: 0;
        }

        .tablaInfo{
            grid-column-start: 1;
            width: 97%;
            margin-left: 1%;
        }
    }

    .navbar-nav{
        justify-content: space-around;
        width: 100%;
    }

    .contenido__subtitulo{
        font-family: 'Times New Roman', Times, serif;
        font-size: 25px;
        font-weight: 400;
    }

    .contenido__titulo{
        text-align: center;
        font-size: 40px;
    }

    .carousel-inner img{
        height: 500px;
        width: 1900px;
    }
    
    .logo{
        display: flex;
        justify-content: flex-end;
        padding: 1%;
        margin-right: 2%;
        height: 200px;
    }

    header{
        background-size: 110vw 31vh;
    }

    .sponsors{
        height: 900px;
    }

    }

    @media only screen and (max-width:480px){
        .card img{
            height: auto;
        }
    }

    @media only screen and (min-width:768px) {
        
        .grilla{
            grid-template-rows: auto 14vh 52.2vh auto;

            .tituloLogros{
                grid-column-start: 1;
                text-align: center;
                margin-left: 0;
            }

            .tablaInfo{
                padding: 90px;
                margin-top: -90px;
                grid-area: tabla;
                grid-column-start: 1;
            }
        }

        .contenido__titulo{
            font-size: 45px;
        }

        .contenido__subtitulo{
            font-size: 30px;
        }

        .sponsors{
            height: auto;
        }
    }


    @media only screen and (min-width:1000px){

        .grilla{
            grid-template-columns: 25% 45% 30%;
            grid-template-rows: auto 15vh 55.5vh auto;
    
            .tituloLogros{
                margin-top: 70px;
            }
    
            .tablaInfo{
                grid-area: tabla;
                align-items: center;
                grid-column-start: 2;
                margin-top: 0;
                padding: 0;
                margin-left: -120px;
            }
        }

        .contenido__titulo{
            font-size: 46px;
        }

        .contenido__subtitulo{
            font-size: 30px;
        }
    }

    

    @media only screen and (max-width:1200px){

        li{
            font-size: 20px;
        }

    }

    @media only screen and (min-width:1200px){
    
        .grilla{
            grid-template-columns: 25% 45% 30%;
            grid-template-rows: auto 15vh 49.8vh auto;
        }
        .tituloLogros{
            margin-top: 10px;
            font-size: 55px;
        }

        .tablaInfo{
            grid-area: tabla;
            align-items: center;
            grid-column-start: 2;
            margin-left: 0;
        }
    

        .imagenes h1{
            margin-bottom: 40px;
        }

        .tituloContacto h1{
            font-size: 40px;
        }

        .contenido__texto{
            font-size: 26px;
            font-family: 'Source Serif Pro';
            line-height: 1.3;
            color: gray;
            margin-right: 20px;
            width: 42%;
        }
        
        .camRosa img{
            height: 350px;
        }

        .footerGeneral{
            text-align: center;
        }

        .contenido__titulo{
            font-size: 55px;
        }

        .logo{
            display: flex;
            justify-content: flex-end;
            padding: 0.4%;
        }

        .contenido__subtitulo{
            font-size: 35px;
            text-align: center;
        }

        header{
            background-size: cover;
            background-repeat: no-repeat;
        }

        .carousel-inner img{
            height: 768px;
            width: 1900px;
        }
     }

}